/* Put your custom styles here and run `npm start` from the "src" directory on */
.optmyzr__grid{
    height: 90px;
    margin: 0 auto;
 }
 header{
    width:100%;
    height: 90px;
    background-color: gray;
 }
 .header-inner{
    width: 100%;
    height: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 #TableOfContents ul li {
   margin-bottom: 1em;
 }
 
 .lh-copy blockquote {
   display: block;
   font-size: .875em;
   margin-left: 2rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
   border-left: 4px solid #ccc;
   padding-left: 1rem;
 
 }
 
 .nested-links a{
   overflow-wrap: break-word;
 }
 
 @font-face {
   font-family: Inter-Bold;
   src: url(../Inter/Inter-Bold.otf),url(../Inter/Inter-Bold.ttf),url(../Inter/Inter-Bold.woff),url(../Inter/Inter-Bold.woff2);
 }
 @font-face {
   font-family: Inter-SemiBold;
   src: url(../Inter/Inter-SemiBold.otf),url(../Inter/Inter-SemiBold.ttf),url(../Inter/Inter-SemiBold.woff),url(../Inter/Inter-SemiBold.woff2);
 }
 @font-face {
   font-family: Inter-Medium;
   src: url(../Inter/Inter-Medium.ttf),url(../Inter/Inter-Medium.woff),url(../Inter/Inter-Medium.woff2);
 }
 @font-face {
    font-family: Inter-Regular;
    src: url(../Inter/Inter-Regular.otf),url(../Inter/Inter-Regular.ttf),url(../Inter/Inter-Regular.woff),url(../Inter/Inter-Regular.woff2);
  }
   body{
     background: #F9FAFB;
     margin: 0;
   }
   li{
       list-style: none;
   }
   button:focus{
       outline: none;
       border: none;
   }
  h1{
     font-family: Inter-SemiBold;
     font-style: normal;
     font-weight: 600;
     font-size: 48px;
     line-height: 56px;
     text-transform: capitalize;
     color: #2D3A48;
  }
  h2{
   font-family: Inter-SemiBold;
     font-style: normal;
     font-weight: 600;
     font-size: 32px;
     line-height: 39px;
     text-transform: capitalize;
     color: #000000;
  }
  h3{
     font-family: Inter-Medium;
     font-style: normal;
     font-weight: 500;
     font-size: 28px;
     line-height: 34px;
     text-transform: capitalize;
     color: #000000;  
  }
  h4{
     font-family: Inter-SemiBold;
     font-style: normal;
     font-weight: 600;
     font-size: 24px;
     line-height: 32px;
     text-transform: capitalize;
     color: #000000;
  }
  h5{
     font-family: Inter-Medium;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 24px;
     text-transform: capitalize;
     color: #000000;
  }
  .body2{
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;    
    color: #2D3A48;
    text-transform: capitalize;
  }
  .body3{
     font-family: Inter-Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 17px;
     color: #2D3A48;
  }
  .body4{
   font-family: Inter-Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 15px;
     color: #000000;
  }
  p{
   font-family: Inter-Regular;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #000000;
  }
  .highlight{
     font-family: Inter-Medium;
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     color: #000000;
  }
  .button{
     font-family: Inter-Medium;
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     text-transform: capitalize;
     color: #000000;
     outline: none;
     border: none;
     background: none;
  }
 
  .tag{
     font-family: Inter-Medium;
     font-style: normal;
     font-weight: 500;
     font-size: 12px;
     line-height: 15px;
     text-transform: uppercase;
     color: #728192;
  }
  .caption{
     font-family: Inter-Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 15px;
     color: #000000;
  }
  a{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }
  .primary-button{
     color: #FFFFFE;
     text-transform: capitalize;
     font-size: 14px;
     line-height: 17px;
     font-style: normal;
     font-family: Inter-Medium;
     background-color: #069BA2;
     border-radius: 4px;
     padding: 12px 16px;
     border: none;
  }
  .secondary-button{
   color:  #069BA2;
   text-transform: capitalize;
   font-size: 14px;
   line-height: 17px;
   font-style: normal;
   font-family: Inter-Medium;
   background-color: #FFFFFE;
   border: 1px solid #069BA2;
   border-radius: 4px;
   padding: 12px 16px;
 }
 .main-text{
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #069BA2;
 }
 .header-title{
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #2D3A48;
 }
 .main-buttons{
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 .banner-content {
    max-width: 64%;
}
.font-icon{
    color: #2D3A48;
    margin-right:16px;
    font-size: 32px;
}