<div class="container">
    <div class="row m-0 align-items-center">
        <div class="col-lg-6">
            <div class="banner-content mb-xs-50">
                <p class="tag text-uppercase">stand alone offering</p>
                <h1 class="mb-3">campaign automator</h1>
                <p class="body3 mb-lg-40">A new solution from Optmyzr for creating and updating campaigns from your data. Available as a stand-alone or add-on to your Optmyzr plan.</p>
                <button class="primary-button mr-3">contact us</button>
                <button class="secondary-button">request demo</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="banner-cover">
                <img src="banner.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="mb-lg-60"></div>




<div class="mb-lg-120"></div>

