<div class="container mb-xs-60">
    <div class="title">
        <h2>Starts at $799/month.</h2>
        <p class="highlight web-only mb-4">Automatic inventory driven campaigns from your data. More relevant ads with less effort. Available as a stand-alone or add-on to your Optmyzr plan</p>
        <p class="body3 mobile-only">Automatic inventory driven campaigns from your data. More relevant ads with less effort.</p>
        <button class="primary-button float-bg">Contact Sales</button>
    </div>
</div>
<div class="mb-lg-240"></div>