<section class="footer">
    <div class="container">
        <div class="top-footer-card web-only">
            <!-- <div class="card-circle">
                <img src="circle-vector.svg" alt="">
            </div> -->
            <div class="arrow-card">
                <img src="card-arrow.svg" alt="">
            </div>
            <div class="branding-details">
                <div class="card-main-logo mb-3">
                    <img src="main-white-logo.svg" alt="">
                </div>
                <h5 class="light">The winning strategy is never an easy strategy. Optmyzr makes it easy.</h5>
                <p class="caption-bright">Free 14-day trial. No credit card needed.</p>
            </div>
            <div class="branding-Buttons">
                <button class="primary-button">start free trial</button>
                <button class="light-button">Request Demo</button>
            </div>       
        </div>
        <div class="custom-footer-container mb-lg-42 mb-xs-0">
            <div class="row m-0">
                <div class="col-lg-2 p-0">
                    <h6 class="body2">features</h6>
                    <div class="row m-0 no-gutters">
                        <div class="col-lg-12 col-6">
                            <p class="body3">One-click optimizations</p>
                            <p class="body3">Data insights</p>
                            <p class="body3">Reports</p>
                            <p class="body3">Enhanced Scripts™</p>
                        </div>
                            
                        <div class="col-lg-12 col-6">
                            <p class="body3">Rule Engine</p>
                            <p class="body3">Optmyzr Express</p>
                            <p class="body3">Blue Prints</p>
                            <p class="body3">Google Data Studio </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 lg-pl-2">
                    <h6 class="body2">solutions</h6>
                    <div class="row">
                        <div class="col-6">
                            <p class="body3">Shopping Ads</p>
                            <p class="body3">Search Ads</p>
                            <p class="body3">Display Ads</p>
                            <p class="body3">Video Ads</p>
                            <p class="body3">Amazon Ads</p>
                            <p class="body3">Google Ads</p>
                            <p class="body3 web-only">Microsoft Ads</p>
                            <p class="body3 web-only">Facebook Ads</p>
                        </div>
                        <div class="col-6">
                            <p class="body3 mobile-only">Microsoft Ads</p>
                            <p class="body3 mobile-only">Facebook Ads</p>
                            <p class="body3">Digital Agencies</p>
                            <p class="body3">In-house Teams</p>
                            <p class="body3">Custom Solutions</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 lg-pl-2">
                    <h6 class="body2">Company</h6>
                    <div class="row m-0 no-gutters">
                        <div class="col-lg-12 col-6">
                            <p class="body3">About</p>
                            <p class="body3">Careers</p>
                            <p class="body3">Blog</p>
                            <p class="body3">PPC Town Hall</p>
                            <p class="body3">Product Demos</p>
                        </div>
                        <div class="col-lg-12 col-6">
                            <p class="body3">Events</p>
                            <p class="body3">Case Studies</p>
                            <p class="body3">Help Center</p>
                            <p class="body3">Affiliate Program</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 p-xs-0">
                    <h6 class="body2">Contact</h6>
                    <p class="body3"><i class="far fa-envelope mr-1"></i>Write to Us</p>
                    <p class="body3 mb-lg-40 mb-xs-60">Request a 1-on-1 Demo</p>
                    <h6 class="body2">follow us</h6>
                    <div class="d-flex">
                        <h3 class="font-icon"><i class="fab fa-twitter"></i></h3>
                        <h3 class="font-icon"><i class="fab fa-linkedin"></i></h3>
                        <h3 class="font-icon"> <i class="fab fa-facebook-square"></i></h3>
                        <h3 class="font-icon"><i class="fab fa-youtube"></i></h3>
                    </div>
                    <p class="caption">Super Optmyzr Community</p>
                    <p class="caption mb30">PPC Videos</p>
                    <div class="d-flex partners-logo">
                        <div class="part-logo mr-3">
                            <img src="google-partner.svg" alt="">                            
                        </div>
                        <div class="part-logo">
                            <img src="inch-partner.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="bottom-policy">
            <div class="row m-0 align-items-center w-100">
                <div class="col-6">
                    <p class="caption-bright mb-0">Copyright © 2013-2020 Optmyzr - All Rights Reserved</p>
                </div>
                <div class="col-6 text-right">
                    <p class="caption-bright mb-0">Privacy Policy <br class="mobile-only"><span class="web-only">-</span> Terms of Use</p>
                </div>
            </div>
        </div>
    </div>
</section>

