 <div class="optmyzr__grid">
    <div class="header-inner">
        <div class="logo d-flex align-items-center">
            <img src="Optmyzr-Logo.svg" alt="">
            <p class="tag mb-0 border-left">PRODUCTS</p>
        </div>
        <div class="main-menu web-only">
          <ul class="p-0 m-0 d-flex justify-content-between">
              <li>
                <div class="dropdown">
                  <div class="button" type="button" id="dropdownProductButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">products<span class="mx-1 my-2"><i class="fas fa-angle-down"></i></span></div>
                  <div class="dropdown-menu" aria-labelledby="dropdownProductButton">
                    <div class="d-flex">
                       <div class="toolkit">
                           <p class="light highlight stroke-bottom pb-3">Complete PPC Toolkit</p>
                           <h4 class="light">Optmyzr PPC Toolkit</h4>
                           <p class="body3 light">Everything you need to create and optimize your online ads</p>
                       </div>
                        <div class="dynamic-ads">
                            <p class="highlight stroke-bottom pb-3">Create Dynamic Ads</p>
                            <h4>Campaign Automator</h4>
                            <p class="body3">Create and automate dynamic ads using your external source of choice</p>
                            <button class="secondary-button mb-2">view product</button>
                            <p class="caption-light mb-0">*Our stand alone offering</p>
                        </div>
                    </div>
                  </div>
                </div>  
              </li>
              <li>
                <div class="dropdown">
                    <div class="button" type="button" id="dropdownFeaturesButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">features<span class="mx-1 my-2"><i class="fas fa-angle-down"></i></span></div>   
                    <div class="dropdown-menu top48" aria-labelledby="dropdownFeaturesButton">
                        <div class="feature-drop">
                            <ul class="p-0">
                                <li class="dropdown-list">
                                    <div class="d-flex">
                                      <div class="list-item-logo">
                                            <img src="setting.svg" alt="">
                                        </div>
                                        <div class="list-item-content">
                                            <h6 class="button">One click optimizations</h6>
                                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-list">
                                   <div class="d-flex">
                                      <div class="list-item-logo">
                                            <img src="data-insight.svg" alt="">
                                        </div>
                                        <div class="list-item-content">
                                            <h6 class="button">Data Insights</h6>
                                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-list">
                                   <div class="d-flex">
                                      <div class="list-item-logo">
                                            <img src="reporting.svg" alt="">
                                        </div>
                                        <div class="list-item-content">
                                            <h6 class="button">Reporting</h6>
                                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-list">
                                   <div class="d-flex">
                                      <div class="list-item-logo">
                                            <img src="script.svg" alt="">
                                        </div>
                                        <div class="list-item-content">
                                            <h6 class="button">Enhanced scripts</h6>
                                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-list">
                                   <div class="d-flex">
                                      <div class="list-item-logo">
                                            <img src="bid management.svg" alt="">
                                        </div>
                                        <div class="list-item-content">
                                            <h6 class="button">Bid Management</h6>
                                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-list">
                                   <div class="d-flex">
                                      <div class="list-item-logo">
                                            <img src="data-studio.svg" alt="">
                                        </div>
                                        <div class="list-item-content">
                                            <h6 class="button">Google data studio</h6>
                                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-list">
                                   <div class="d-flex">
                                      <div class="list-item-logo">
                                            <img src="optmyzr-express.svg" alt="">
                                        </div>
                                        <div class="list-item-content">
                                            <h6 class="button">Optmyzr Express</h6>
                                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-list">
                                   <div class="d-flex">
                                      <div class="list-item-logo">
                                            <img src="blueprints.svg" alt="">
                                        </div>
                                        <div class="list-item-content">
                                            <h6 class="button">Blueprints</h6>
                                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>                                      
              </li>
              <li> 
                <div class="dropdown">
                  <!-- <button class="btn btn-default " type="button" >Tutorials</button> -->
                  <button class="button" data-toggle="dropdown">Soltuion<span class="mx-1 my-2"><i class="fas fa-angle-down"></i></span></button>
                  <ul class="dropdown-menu">
                   <li class="dropdown-submenu dropdown-list">
                      <a class="test" tabindex="-1" href="#">
                        <div class="d-flex align-items-center justify-content-between">
                          <div>
                              <h6 class="button">Online Ads</h6>
                              <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                          </div>
                          <div>
                            <span class="button"><i class="fas fa-angle-right"></i></span>
                          </div>
                      </div>
                      </a>
                      <ul class="dropdown-menu">
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="google-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Google Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="microsoft-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Microsoft Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="amazon-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Amazon Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="facebook-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Facebook Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                      </ul>
                    </li>
                   <li class="dropdown-submenu dropdown-list">
                      <a class="test" tabindex="-1" href="#">
                        <div class="d-flex align-items-center justify-content-between">
                          <div>
                              <h6 class="button">Ad Engines</h6>
                              <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                          </div>
                          <div>
                            <span class="button"><i class="fas fa-angle-right"></i></span>
                          </div>
                      </div>
                      </a>
                      <ul class="dropdown-menu">
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="google-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Google Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="microsoft-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Microsoft Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="amazon-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Amazon Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="facebook-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Facebook Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                      </ul>
                    </li>
                   <li class="dropdown-submenu dropdown-list">
                      <a class="test" tabindex="-1" href="#">
                        <div class="d-flex align-items-center justify-content-between">
                          <div>
                              <h6 class="button">Advertisers</h6>
                              <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                          </div>
                          <div>
                            <span class="button"><i class="fas fa-angle-right"></i></span>
                          </div>
                      </div>
                      </a>
                      <ul class="dropdown-menu">
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="google-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Google Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="microsoft-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Microsoft Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="amazon-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Amazon Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="facebook-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Facebook Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                      </ul>
                    </li>
              
                   <li class="dropdown-submenu dropdown-list">
                      <a class="test" tabindex="-1" href="#">
                        <div class="d-flex align-items-center justify-content-between">
                          <div>
                              <h6 class="button">Custom Solutions</h6>
                              <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                          </div>
                          <div>
                            <span class="button"><i class="fas fa-angle-right"></i></span>
                          </div>
                      </div>
                      </a>
                      <ul class="dropdown-menu">
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="google-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Google Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="microsoft-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Microsoft Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="amazon-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Amazon Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="facebook-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Facebook Ads</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                      </ul>
                    </li>
                  </ul>
                </div>         
              </li>
              <li>
                  <button class="button">pricing</button>
              </li>
              <li> 
                <div class="dropdown">
                  <!-- <button class="btn btn-default " type="button" >Tutorials</button> -->
                  <button class="button" data-toggle="dropdown">Company<span class="mx-1 my-2"><i class="fas fa-angle-down"></i></span></button>
                  <ul class="dropdown-menu">
                   <li class="dropdown-submenu dropdown-list">
                      <a class="test" tabindex="-1" href="#">
                        <div class="d-flex align-items-center justify-content-between">
                          <div>
                              <h6 class="button">About Us</h6>
                              <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                          </div>
                          <div>
                            <span class="button"><i class="fas fa-angle-right"></i></span>
                          </div>
                      </div>
                      </a>
                      <ul class="dropdown-menu mySubMenu">
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="blog.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Blog</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="town hall.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">PPC Town Hall</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="product demos.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Product Demos</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                      </ul>
                    </li>
                   <li class="dropdown-submenu dropdown-list">
                      <a class="test" tabindex="-1" href="#">
                        <div class="d-flex align-items-center justify-content-between">
                          <div>
                              <h6 class="button">Resources</h6>
                              <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                          </div>
                          <div>
                            <span class="button"><i class="fas fa-angle-right"></i></span>
                          </div>
                      </div>
                      </a>
                      <ul class="dropdown-menu mySubMenu">
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="facebook-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Blog</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="facebook-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">PPC Town Hall</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="facebook-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Product Demos</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                      </ul>
                    </li>
                   <li class="dropdown-submenu dropdown-list">
                      <a class="test" tabindex="-1" href="#">
                        <div class="d-flex align-items-center justify-content-between">
                          <div>
                              <h6 class="button">Support</h6>
                              <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                          </div>
                          <div>
                            <span class="button"><i class="fas fa-angle-right"></i></span>
                          </div>
                      </div>
                      </a>
                      <ul class="dropdown-menu mySubMenu">
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="google-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Blog</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="google-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">PPC Town Hall</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                        <div class="d-flex dropdown-list">
                          <div class="list-item-logo">
                            <img src="google-ads.svg" alt="">
                          </div>
                          <div class="list-item-content">
                            <h6 class="button">Product Demos</h6>
                            <p class="caption-light mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        </div>
                      </ul>
                    </li>
                  </ul>
                </div>         
              </li>
          </ul> 
        </div>
        <div class="main-buttons web-only">
            <button class="main-text mr-4">Login</button>
            <button class="primary-button">start free trial</button>
        </div>
        <div class="hamburger-menu mobile-only">
          <button type="button" class="" data-toggle="modal" data-target=".main-menu-modal">
            <img src="hamburger-menu.svg" alt="">
          </button>
            
        </div>
    </div>
</div> 
<div class="mb-lg-40"></div>




<div class="container">                                      
 
</div>







<!-- Large modal -->


<div class="modal fade main-menu-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-center">
      <div class="optmyzr__grid">
        <div class="header-inner">
            <div class="logo d-flex align-items-center">
                <img src="Optmyzr-Logo.svg" alt="">
            </div>
            <div class="close-modal mobile-only" id="hamburger-menu" >
              <button type="button" class="">
                <img src="hamburger-menu.svg" alt="">
              </button>                
            </div>
           <div class="close-modal mobile-only" id="cross" >
              <button type="button" class="" data-dismiss="modal">
                <img src="close-modal.svg" alt="">
              </button>                
           </div> 
        </div>
    </div> 
      <div class="modal-advertise">
        <p class="caption mb-xs-50"><span class="tag bg-main light mr-1">NEWS</span>Check out COVID-19 update for PPC Analysis tool <span><i class="fas fa-angle-right"></i></span></p>
        <h1 class="text-center">PPC Management Made Smarter</h1>
        <p class="caption-light text-center">Product description Lorem ipsum is placeholder text commonly used in the graphic. Product description Lorem ipsum is placeholder text commonly used in the graphic.</p>
        <div class="d-flex mt-4 justify-content-center">
          <button class="primary-button mr-3">Start Free Trial</button>
          <button class="secondary-button">Request Demo</button>
        </div>
      </div>

  <!-- <div class="try">
    <button id="hamburger-menu" data-toggle="ham-navigation" class="hamburger-menu-button"><span class="hamburger-menu-button-open">Menu</span></button>
  <nav id="ham-navigation" class="ham-menu">
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li class="active"><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  </div> -->
  <div class="main-root">
   <div class="d-flex justify-content-between">
     <div class="nav-title-head">Products</div>
     <div class="next-menu"><span><i class="fas fa-angle-right"></i></span></div>
   </div>
   <div class="d-flex justify-content-between">
    <div class="nav-title-head">Features</div>
    <div class="next-menu"><span><i class="fas fa-angle-right"></i></span></div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="nav-title-head">Solutions</div>
    <div class="next-menu"><span><i class="fas fa-angle-right"></i></span></div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="nav-title-head">Company</div>
    <div class="next-menu"><span><i class="fas fa-angle-right"></i></span></div>
  </div>
  </div>
  <div class="fixed-modal-footer">
    <div class="text-center">
      <p class="highlight">Claim your 14 day free trial now</p>
      <button class="primary-button">Start Free Trial</button>
    </div>
  </div>




    </div>
  </div>
</div>