<div class="container mb-lg-120 px-xs-16">
    <div class="title mb-lg-120 px-xs-40">
        <h2>how it works</h2>
        <p class="body1">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries.</p>
    </div>
    <div class="mb-lg-120">
        <div class="row">
            <div class="col-lg-4 mb-xs-20">
                <div class="arrow-group text-center mb-xs-36 mt-10">
                    <img class="web-only" src="data-source.svg" alt="">
                    <img class="mobile-only m-auto"src="data-source-mobile.svg" alt="">
                </div>
                <div class="text-xs-center ml-lg-10">
                    <h5 class="mb-3">your data source</h5>
                    <p class="body4">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-xs-20 sync-line">
                <div class="sync-border-line web-only">
                    <img src="Sync-through-line.svg" alt="">
                </div>
                <div class="arrow-group mb-xs-36 mt-lg-31 ml-3 ml-xs-0">
                    <img class="web-only" src="campaign template.svg" alt="">
                    <img src="campaign-template-mobile.svg" alt="" class="mobile-only m-auto">
                </div>
                <div class="text-xs-center">
                    <h5 class="mb-3">campaign template</h5>
                    <p class="body4">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>                
            </div>
            <div class="col-lg-4">
                <div class="arrow-group mb-xs-36">
                  <img class="web-only" src="automated adds.svg" alt="">
                  <img src="automated-ads-mobile.svg" alt="" class="mobile-only m-auto">
                </div>
                <div class="text-xs-center">
                    <h5 class="mb-3">automated ads</h5>
                    <p class="body4">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>                
            </div>
        </div>
    </div>
    <div class="overlap-container">
        <div class="main-block">
            <div class="float-detail-block">
                <h5 class="light mb-lg-90 mb-xs-60">Since we create very granular campaigns, the software has saved us over 4 hours per new campaign set up and allows us the ability to create campaigns at scale. However, the real time saver has been the ability to keep pricing, color, and trim levels up to date for our automotive clients. This alone saves us just over 50 hours per month! The software has had a huge impact on both the creation and optimizations of our campaigns</h5>
                <div class="d-flex align-items-center">
                    <div class="profile-sign">
                        <img src="david johnson.svg" alt="">
                    </div>
                    <div class="profile-name ml-2">
                        <h6>David Johnson</h6>
                        <p class="mb-0">VP, Constellation Agency</p>
                    </div>
                </div>
            </div>
            <div class="main-block-content">
                <h1>25%</h1>
                <h4 class="light">Reduced their cost <br> per lead</h4>
                <div class="side-tag">
                    <a href="" class="button">Read Full Story <span><i class="fas fa-angle-right"></i></span></a>
                </div>                
                <div class="mt-lg-70 mt-xs-40">
                    <div class="main-block-logo">
                        <img src="main-block-logo.svg" alt="">
                    </div>
                    <div class="caption-bright">A marketing technology agency</div>
                </div>
            </div>            
        </div>       
    </div>
</div>