<div class="container-fluid p-0 mb-lg-120">
  <div class="idustry_cases_container">
    <div class="title mb-lg-80">
      <h2 class="light">industry use case</h2>
      <p class="body1 light">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries.</p>
    </div>
    <div class="scrollmenu" id="ex3">
      <div class="scroll-card web-only" style="visibility: hidden;">
        <div class="carousel-card bg-warning"> 
          <div class="card-core-icon mb-lg-120 mb-xs-100">
            <img src="bike.svg" alt="">            
          </div>
          <div>
            <h5>automotive</h5>
            <p class="body3 mb-0">Connect with your DMS and only advertise in-stock vehicles. Use power functions to make the ads say how many cars of a particular make you have for sale.</p>
          </div>
        </div>      
      </div>
      <div class="scroll-card">
        <div class="carousel-card bg-highlight"> 
          <div class="card-core-icon mb-lg-120 mb-xs-100">
            <img src="bike.svg" alt="">            
          </div>
          <div>
            <h5 class="light">automotive</h5>
            <p class="body3 mb-0 light">Connect with your DMS and only advertise in-stock vehicles. Use power functions to make the ads say how many cars of a particular make you have for sale.</p>
          </div>
        </div>
        <div class="d-flex card-bottom-matter">
          <div class="play-audio mr-3">
            <img src="play.svg" alt="">
          </div>
          <div class="card-bottom-content">
            <h5 class="light">Watch in Action <span><i class="fas fa-angle-right"></i></span></h5>
            <p class="body3 light">we turn used car inventory from different makers into ads that reflect the current dealership inventory.</p>
          </div>
        </div>
      </div>
      <div class="scroll-card">
        <div class="carousel-card"> 
          <div class="card-core-icon mb-lg-120 mb-xs-100">
            <img src="travel.svg" alt="">
          </div>
          <div>
            <h5>travel</h5>
            <p class="body3 mb-0">Include the lowest price for city pairs in your ads. Show different ads depending on the hotel room type available. Also works for cruises, car rentals, city tours, and attractions.</p>
          </div>
        </div>
      
      </div>
      <div class="scroll-card">
        <div class="carousel-card"> 
          <div class="card-core-icon mb-lg-120 mb-xs-100">
            <img src="home-services.svg" alt="">
          </div>
          <div>
            <h5>home services</h5>
            <p class="body3 mb-0">Highlight different promotions in different cities. Take your ads offline when your crews are fully booked and resume them when more work is desired.</p>
          </div>
        </div>
      
      </div>
      <div class="scroll-card">
        <div class="carousel-card"> 
          <div class="card-core-icon mb-lg-120 mb-xs-100">
            <img src="cart.svg" alt="">
          </div>
          <div>
            <h5>E-Commerce</h5>
            <p class="body3 mb-0">Use the merchant feed you already have to create search ads with a higher level of control than DSAs. Never pay for clicks when a product goes out of stock.</p>
          </div>
        </div>
        <div class="d-flex card-bottom-matter">
          <div class="play-audio mr-3">
            <img src="play.svg" alt="">
          </div>
          <div class="card-bottom-content">
            <h5 class="light">Watch in Action <span><i class="fas fa-angle-right"></i></span></h5>
            <p class="body3 light">we turn used car inventory from different makers into ads that reflect the current dealership inventory.</p>
          </div>
        </div>
      </div>
      <div class="scroll-card">
        <div class="carousel-card"> 
          <div class="card-core-icon mb-lg-120 mb-xs-100">
            <img src="travel.svg" alt="">
          </div>
          <div>
            <h5>travel</h5>
            <p class="body3 mb-0">Include the lowest price for city pairs in your ads. Show different ads depending on the hotel room type available. Also works for cruises, car rentals, city tours, and attractions.</p>
          </div>
        </div>
      
      </div>
      <div class="scroll-card">
        <div class="carousel-card"> 
          <div class="card-core-icon mb-lg-120 mb-xs-100">
            <img src="home-services.svg" alt="">
          </div>
          <div>
            <h5>home services</h5>
            <p class="body3 mb-0">Highlight different promotions in different cities. Take your ads offline when your crews are fully booked and resume them when more work is desired.</p>
          </div>
        </div>
      
      </div>
      <div class="scroll-card">
        <div class="carousel-card"> 
          <div class="card-core-icon mb-lg-120 mb-xs-100">
            <img src="cart.svg" alt="">
          </div>
          <div>
            <h5>E-Commerce</h5>
            <p class="body3 mb-0">Use the merchant feed you already have to create search ads with a higher level of control than DSAs. Never pay for clicks when a product goes out of stock.</p>
          </div>
        </div>
      
      </div>
  
    </div>
  </div>  
</div>
