<section class="countless-hours">
   <div class="container">
       <div class="title mb-lg-70">
           <h2>Save countless hours</h2>
           <div class="body1">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries.</div>
       </div>
       <div class="row mb-lg-80  mb-xs-0">
           <div class="col-lg-3 col-6">
               <div class="static-card-logo"><img src="static-logo1.svg" alt=""></div>
               <p class="body2">Start New Campaigns Faster</p>
           </div>
           <div class="col-lg-3 col-6">
               <div class="static-card-logo"><img src="static-logo2.svg" alt=""></div>
               <p class="body2">Make bulk changes in a fraction of the time</p>
           </div>
           <div class="col-lg-3 col-6">
               <div class="static-card-logo"><img src="static-logo3.svg" alt=""></div>
               <p class="body2">Unique templates for everything you advertise</p>
           </div>
           <div class="col-lg-3 col-6">
               <div class="static-card-logo"><img src="static-logo4.svg" alt=""></div>
               <p class="body2">Only advertise things that meet your criteria</p>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-3 col-6">
               <div class="static-card-logo"><img src="static-logo5.svg" alt=""></div>
               <p class="body2">Ads that include your latest promotions</p>
           </div>
           <div class="col-lg-3 col-6">
               <div class="static-card-logo"><img src="static-logo6.svg" alt=""></div>
               <p class="body2">Integrate with the Optmyzr Rule Engine</p>
           </div>
           <div class="col-lg-3 col-6">
               <div class="static-card-logo"><img src="static-logo7.svg" alt=""></div>
               <p class="body2">Automated, but with manual overrides</p>
           </div>
           <div class="col-lg-3 col-6">
               <div class="static-card-logo"><img src="static-logo8.svg" alt=""></div>
               <p class="body2">Flexible reporting</p>
           </div>
       </div>
   </div>
</section>
