/* Put your custom styles here and run `npm start` from the "src" directory on */
html{
  background-color: #FFFFFE;
}
.container-fluid{
  max-width: 1440px;
  margin: auto;
}
.optmyzr__grid{
    height: 90px;
    margin: 0 auto;
    max-width:1440px;
 }
 header{
    width:100%;
    height: 90px;
    background-color: gray;
 }
 .header-inner{
    width: 100%;
    height: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 #TableOfContents ul li {
   margin-bottom: 1em;
 }
 
 .lh-copy blockquote {
   display: block;
   font-size: .875em;
   margin-left: 2rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
   border-left: 4px solid #ccc;
   padding-left: 1rem;
 
 }
 
 .nested-links a{
   overflow-wrap: break-word;
 }
 button{
   background: none;
   border: none;
   outline: none;
 }
 button:hover{
   opacity: 0.7;
   cursor: pointer;
 }
 /* @font-face {
   font-family: Inter-Bold;
   src: url(../Inter/Inter-SemiBold.otf),url(../Inter/Inter-Bold.ttf),url(../Inter/Inter-Bold.woff),url(../Inter/Inter-Bold.woff2);
 }
 @font-face {
   font-family: Inter-SemiBold;
   src: url(../Inter/Inter-SemiBold.otf),url(../Inter/Inter-SemiBold.ttf),url(../Inter/Inter-SemiBold.woff),url(../Inter/Inter-SemiBold.woff2);
 }
 @font-face {
   font-family: Inter-Medium;
   src: url(../Inter/Inter-Medium.ttf),url(../Inter/Inter-Medium.woff),url(../Inter/Inter-Medium.woff2);
 }
 @font-face {
    font-family: Inter-Regular;
    src: url(../Inter/Inter-Regular.otf),url(../Inter/Inter-Regular.ttf),url(../Inter/Inter-Regular.woff),url(../Inter/Inter-Regular.woff2);
  } */
  @font-face {
    font-family: Inter-Bold;
    src: url(Inter/Inter-SemiBold.otf);
  }
  @font-face {
    font-family: Inter-SemiBold;
    src: url(Inter/Inter-SemiBold.otf);
  }
  @font-face {
    font-family: Inter-Medium;
    src: url(Inter/Inter-Medium.ttf);
  }
  @font-face {
     font-family: Inter-Regular;
     src: url(Inter/Inter-Regular.otf);
   }
   body{
     font-family: 'Inter', sans-serif;    
     margin: auto;
     max-width: 1440px;
     background: #F9FAFB;
   }
   img{
     max-width: 100%;
   }
   .mobile-only{
     display: none;
   }
   .mb16{
       margin-bottom: 16px;
   }
   .mb-lg-20{
    margin-bottom: 20px;
  }
  .mr-lg-20{
    margin-right: 20px;
  }
  .mb30{
    margin-bottom: 30px;
  }
  .mb-lg-40{
    margin-bottom: 40px;
  }
  .mb-lg-42{
    margin-bottom: 42px;
  }
  .mb48{
    margin-bottom: 48px;
  }
  .mb50{
    margin-bottom: 50px;
  }
  .mb-lg-60{
    margin-bottom: 60px;
  }
  .mb-lg-70{
    margin-bottom: 70px;
  }
  .mt-lg-70{
    margin-top: 70px;
  }
  .top48{
    top: 48px!important;
  }
  .mb-lg-80{
    margin-bottom: 80px;
  }
  .mt-lg-31{
   margin-top: 31px;
  }
  .mt-10{
    margin-top: -10px;
    margin-bottom: 42px;
  }
 .mt-lg-84{
   margin-top: 84px;
   margin-bottom: 74px;
 }
 .mt-lg-51{
  margin-top: 51px;
  margin-bottom: 76px;
}
  .mb-lg-90{
    margin-bottom: 90px;
  }
  .mb-lg-100{
    margin-bottom: 100px;
  }
  .mb-lg-120{
    margin-bottom: 120px;
  }
  .mb180{
    margin-bottom: 180px;
  }
  .mb-lg-220{
    margin-bottom: 220px;
  }
  .mb-lg-240{
    margin-bottom: 240px;
  }
   li{
       list-style: none;
   }
   button:focus{
       outline: none;
   }
  h1{
     font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 48px;
     line-height: 56px;
     text-transform: capitalize;
     color: #2D3A48;
  }
  h2{
     font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 32px;
     line-height: 39px;
     text-transform: capitalize;
     color: #000000;
  }
  h3{
    font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 28px;
     line-height: 34px;
     text-transform: capitalize;
     color: #000000;  
  }
  h4{
    font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 24px;
     line-height: 32px;
     text-transform: capitalize;
     color: #000000;
  }
  h5{
    font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 24px;
     text-transform: capitalize;
     color: #2D3A48;
  }
  .light{
    color: #FFFFFE!important;
  }
  .body1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2D3A48;
  }
  .body2{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;    
    color: #2D3A48;
    text-transform: capitalize;
  }
  .body3{
    font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 17px;
     color: #2D3A48;
  }
  .body4{
    font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 15px;
     color: #000000;
  }
  p{
    font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #000000;
  }
  .highlight{
    font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     color: #000000;
  }
  .button{
    font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     text-transform: capitalize;
     color: #000000;
     outline: none;
     border: none;
     background: none;
  }
 
  .tag{
    font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 12px;
     line-height: 15px;
     text-transform: uppercase;
     color: #728192;
  }
  .caption-bright{
    font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 15px;
     color: #B3C0CF;
  }
  .caption{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2D3A48;
 }
  a, a:focus, a:hover{
    text-decoration: none;
    cursor: pointer;
  }
  .primary-button{
     color: #FFFFFE;
     text-transform: capitalize;
     font-size: 14px;
     line-height: 17px;
     font-style: normal;
     font-family: 'Inter', sans-serif;
     background-color: #069BA2;
     border-radius: 4px;
     padding: 12px 16px;
     border: 1px solid #069BA2;
  }
  .secondary-button{
   color:  #069BA2;
   text-transform: capitalize;
   font-size: 14px;
   line-height: 17px;
   font-style: normal;
   font-family: 'Inter', sans-serif;
   background-color: #FFFFFE;
   border: 1px solid #069BA2;
   border-radius: 4px;
   padding: 12px 16px;
 }
 .light-button{
    color:  #FFFFFE;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    background: transparent;
    border: 1px solid#FFFFFE;
    border-radius: 4px;
    padding: 12px 16px;
  }
 .main-text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #069BA2;
 }
 .header-title{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;

/* Dark Shade 2 */

color: #728192;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #2D3A48;
 }
 .main-buttons{
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 .banner-content {
  max-width: 82%;
  margin-left: auto;
  margin-right: auto;
}
.font-icon{
    color: #2D3A48;
    margin-right:16px;
    font-size: 30px;
}
.part-logo{
    filter: grayscale(1);
}
.custom-footer-container {
    padding: 0 58px;
}
.top-footer-card{
    height: 240px;
    background: #222428;
    box-shadow: 0px 40px 80px rgba(45, 58, 72, 0.08);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
    position: absolute;
    width: 100%;
    top: -318px;
}
/* .top-footer-card::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: 0;
  background-image: url(circle-vector.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(30deg);
} */
.arrow-card {
  position: absolute;
  bottom: -30px;
  right: 360px;
}
.card-circle {
  position: absolute;
  right: -10px;
  overflow: hidden;
  top: -24px;
  transform: rotate(25deg);
}
.branding-details {
    width: 38%;
}
.container{
    position: relative;
}
.footer{
    background: #EDF4F4;
    padding-top: 200px;
}
.lg-pl-2 {
  padding-left: 3rem!important;
}
.custom-footer-container .body2{
  margin-bottom: 24px;
}
.title {
  text-align: center;
  max-width: 40%;
  margin-right: auto;
  margin-left: auto;
}
.static-card-logo {
  height: 130px;
  width: auto;
}
.countless-hours .row>div {
  padding: 0 44px;
}

.bottom-policy{
  height: 48px;
  background-color: #24484B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.float-bg{
  position: relative;
}
.float-detail-block{
  background: #069BA2;
  box-shadow: 0px 40px 80px rgba(45, 58, 72, 0.08);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  z-index: 1;
  width: 68%;
  margin-left: auto;
  right: 0;
  top: -22px;
}
.main-block-content{
  background: #2D3A48;
  border-radius: 4px;
  padding: 40px;
  position: relative;
}
.main-block{
  position: relative;
}
.main-block .main-block-content h1{
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 126px;
  text-transform: capitalize;
  color: #FFFFFE;
}
.main-block .main-block-content a{
  color: #FFFFFE;
}
.profile-name h6{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F9FAFB;
}
.profile-name p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #E8EBEE;
}
.countless-hours{
  background-color: #FFFFFE;
  padding: 120px 0;
}
.text-xs-center {
  padding: 0 70px;
}
.idustry_cases_container{
  background-color: #222428;
  padding: 120px 0px 120px 0px;
}
.carousel-card{
  background: #FFFFFE;
  box-shadow: 0px 40px 80px rgba(45, 58, 72, 0.08);
  border-radius: 4px;
  min-height: 360px;
  margin-left: 16px;
  padding: 24px;
  width: 100%;
}
.owl-carousel{
}
.owl-item{
  width: 324px!important;
}
.card-core-icon {
  width: 18%;
}
.card-core-icon img{
  color: #069BA2;
}
.owl-carousel>div:first-child .owl-item{
  left: -150px;
}
.bg-highlight{
  background-color: #069BA2;
}
.play-audio{
  min-width:14%;
}
.card-bottom-matter{
  padding-top: 28px;
  margin-left: 12px;
}
.main-menu {
  width: 42%;
}
.border-left{
  border-left: 3px solid #728192;
  padding:  0px 12px;
  margin:  0px 12px;
}
.logo {
  width: 22%;
  justify-content: space-between;
}
.main-buttons {
  width: 20%;
}
.sync-line{
  position: relative;
}
.sync-line::before{
  content: '';
  position: absolute;
  background-image: url(Sync-through-line.svg);
  left: -20px;
  background-size: 100%;
}
/* .owl-stage{
  transform: translate3d(-125px, 0px, 0px);
  transition: all 0.25s ease 0s;
  width: 30000px!important;
} */
.toolkit{
  padding: 24px;
  background-color: #069BA2;
  min-width: 230px;
}
.dynamic-ads{
  padding: 24px;
  background-color: #FFFFFE;
  min-width: 230px;
}

.stroke-bottom{
  border-bottom: 1px solid #E2E8FF;
}
.caption-light{
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #728192;
}
.feature-drop{
  background-color: #FFFFFE;
  min-width: 256px;
  padding: 12px 0px;
}
.dropdown-list{
  padding: 12px;
}
.list-item-logo{
  margin-right: 14px;
}
.solution-drop ul li .nav-link {
  display: block;
  padding: 0rem .5rem!important;
}
.solution-drop{
  min-width: 240px;
  padding: 12px 0px;
  position: relative;
}

ul.nav.nav-tabs.vertical-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 240px;
}
.dropdown-menu{
  padding: 0 0;
  margin: 2.125rem 0 0;
  background: #FFFFFE;
border: 1px solid #CFD9E2;
box-sizing: border-box;
box-shadow: 0px 8px 40px rgba(45, 58, 72, 0.08);
border-radius: 4px;
min-width: 240px;
}
.solution-drop .tab-content {
  position: absolute;
  width: 240px;
  left: 240px;
  top: 0;
  background-color: #FFFFFE;
  border: 1px solid #CFD9E2 ;
  border-bottom-right-radius: .2rem;
  border-top-right-radius: .2rem;
  padding: 12px;
  height: 100%;
}
.nav-tabs {
  border-bottom: none;
}
:focus {
  outline: none;
}
/* .vertical-menu .nav-link.active {
  color: #2D3A48;
  background-color: rgba(6, 155, 162, 0.2);
  border-left: 2px solid #069BA2;
  padding: 0!important;
} */
.nav-tabs .nav-link {
  border: none;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
/* #dropdownSolutionButton .dropdown-menu{
  border-bottom-right-radius: 0rem;
  border-top-right-radius: 0rem;
} */
/* #dropdownSolutionButton .dropdown-menu{
  border-radius: 0px;
  border-radius: 0rem;
} */

.sync-line{
  position: relative;
}
.sync-border-line {
  position: absolute;
  top: -16px;
  /* bottom: 15px; */
  margin: auto;
  left: -79px;
  width: 142%;
  z-index: 0;
}





.owl-dots {
  background: white;
}
.owl-dot {
  background: teal;
  width: 20px;
  height: 20px;
}
.owl-dot span{
  background: teal;
  width: 20px;
  height: 20px;
}
.set-border{
  border-top-left-radius: 4px!important;
  border-bottom-left-radius: 4px!important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}
li.dropdown-list:hover {
  border-left: 2px solid #069BA2;
  background:  rgba(6, 155, 162, 0.2);
}

li.dropdown-list {
  border-left: 2px solid #FFFFFE;
  background:  #FFFFFE;
}
/* .dropdown-submenu {
  position: relative;
} */

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top:0!important;
}


div.scrollmenu {
  background-color: #222428;
  overflow: auto;
  white-space: nowrap;
  min-height: 550px;
}
div.scrollmenu div {
  display: inline-block;
  color: white;
  text-decoration: none; 
}
.scrollmenu>div:first-child{
  max-width: 170px;
}
.scroll-card{
  max-width: 320px;
  white-space: normal;
  margin-right: 12px;
}
#ex3::-webkit-scrollbar-thumb{
  background-color:#069BA2;
  border-radius:10px;
  }
  #ex3::-webkit-scrollbar-thumb:hover{
  background-color:#069BA2;
  border:1px solid #333333;
  height: 12px;
  }
  #ex3::-webkit-scrollbar-thumb:active{
  background-color:#069BA2;
  border:1px solid #333333;
  height: 10px;
  } 
  #ex3::-webkit-scrollbar{
    width:80%;
    height: 6px;
    background-color:#cccccc;
    } 

    #ex3::-webkit-scrollbar-track{
      border:1px gray solid;
      border-radius:10px;
      -webkit-box-shadow:0 0 6px gray inset;
      } 


      li.dropdown-submenu.dropdown-list .dropdown-menu{
        box-shadow: none;
      }
      .carousel-card {
        min-width: 300px;
    
    }
    
    div.scrollmenu {
        background-color: #222428;
        overflow: auto;
        align-items: flex-start;
        white-space: nowrap;
        /* min-height: 700px; */
        display: flex;
        margin: 0 24px;}

.ml-lg-10{
  margin-left: 10px;
}
.arrow-group {
  position: relative;
}




















































































































































































































































































@media screen and (min-width: 320px) and (max-width: 767px) {
  .ml-xs-0{
    margin-left: 0px!important;
  }
  .mb-xs-32{
    margin-bottom: 32px;
  }
  .mb-xs-36{
    margin-bottom: 36px;
  } 
 .mb-xs-60{
   margin-bottom: 60px;
 }
 .mb-xs-50{
  margin-bottom: 50px;
}
.mb-xs-90{
  margin-bottom: 90px;
}
.mb-xs-44{
  margin-bottom: 44px;
}
.mb-xs-40{
  margin-bottom: 40px;
}
.mt-xs-40{
  margin-top: 40px;
}
 .mb-xs-0{
   margin-bottom: 0px;
 }
 .mb-xs-20{
  margin-bottom: 20px;
}
 .mb-xs-100{
  margin-bottom: 100px!important;
}
 .px-xs-30{
   padding-left: 30px;
   padding-right: 30px;
 }
 .mt-xs-60{
   margin-top:60px;
 }
 .px-xs-40{
  padding-left: 40px;
  padding-right: 40px;
}
 h1{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
 }
  h2{
    font-size: 24px;
  }
  .body2{
    font-size: 12px;
  }
  .body1, .body3, .body4{
    font-size: 14px;
  }
  .banner-content {
    max-width: 100%;
    text-align: center;
  }   
  .tag{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
  .caption{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #2D3A48;
  }
  .web-only{
    display: none!important;
  }
  .mobile-only{
    display: block;
  }
  .primary-button{
    padding: 12px 12px;
  }
  .lg-pl-2 {
    padding-left: 0rem!important;
  }
  .custom-footer-container {
    padding: 0 2px;
  }
  .footer {
    background: #EDF4F4;
    padding-top: 60px;
  } 
  .p-xs-0{
    padding: 0px;
  }
  .custom-footer-container>div>div{
    margin-bottom: 60px;
  }
  .title{
    max-width: 88%;
  }  
  .countless-hours .row>div {
    padding: 0 30px;
  }
  .static-card-logo {
    min-height: 80px;
    margin-bottom: 8px;
  }
  .mb-lg-220{
    margin-bottom: 0px;
  }
  .bottom-policy {
    padding: 0 0px;
}
.partners-logo{
  justify-content: flex-end;
}
.banner-content .body3{
  color: #728192;
}

.text-xs-center {
  text-align: center;
  padding: 0 60px;
}
.float-detail-block{
  background: #069BA2;
  box-shadow: 0px 40px 80px rgba(45, 58, 72, 0.08);
  border-radius: 4px;
  padding: 24px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-left: auto;
  right: 0;
  top: 0px;
  bottom: -2px;
  margin-bottom: -5px;
}
.px-xs-1{
  padding: 16px;
}
.main-block-content {
  padding: 24px;
  position: relative;
}
.float-detail-block h5{
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 500;
}
.main-block .main-block-content h1{
  font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 97px;
}
.main-block .main-block-content h5{
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
}
.mb-lg-120{
  margin-bottom: 64px;
}
.countless-hours {
  background-color: #FFFFFE;
  padding: 64px 0;
}
.owl-stage{
    transform: translate3d(-125px, 0px, 0px);
    transition: all 0.25s ease 0s;
    width: 30000rem!important;
}
.idustry_cases_container {
  background-color: #222428;
  padding: 64px 0px 64px 0px;
}
.owl-carousel>div:first-child .owl-item{
  left: 0px;

}
.owl-stage>div:first-child.owl-item{
  display: none;
}

.owl-item {
  width: 280px!important;
}
.optmyzr__grid {
  height: 64px;
  margin: 0 auto;
  background-color: #FFFFFE;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 0px 1px 0px rgba(45, 58, 72, 0.12);
}
.header-inner {
  padding: 0 24px;
}
.logo {
  width: 42%;
  justify-content: space-between;
}
.mb-lg-240{
  margin-bottom:0px;
}
.carousel-card {
  min-height: 370px;
  min-width: 280px;
}
.countless-hours .body2{
  margin-bottom: 64px;
}
.banner-content{
  margin-top: 94px;
}
.mb-xs-20{
  margin-bottom: 20px;
}
.side-tag {
  position: absolute;
  right: -10px;
  width: 36%;
  right: 0px;
  bottom: 24px;
}
.modal{
  height: 100%;
}
.modal.show .modal-dialog{
  height: 100%;
  width: 100%;
  margin: 0px;
}
.modal-content{
  height: 100%;
  border-radius: 0rem;
  border: none;
}
.modal-advertise{
  padding: 0px 34px;
  margin-top: 100px;
}
.caption-light{
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #728192;
}
.bg-main{
  background-color: #069BA2;
  padding: 2px;
  border-radius: 4px;
}
.mb-xs-50{
  margin-bottom: 50px;
}









.hamburger-menu-button {
  width: 40px;
  height: 40px;
  padding: 6px;
  display: block;
  position: relative;
  margin-top: 35px;
  z-index: 100;
  background: #2980b9;
  border: 5px solid white;
  box-sizing: content-box;
  border-radius: 50%;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.hamburger-menu-button-open {
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -12px;
}
.hamburger-menu-button-open, 
.hamburger-menu-button-open::before, 
.hamburger-menu-button-open::after {
  position: absolute;
  width: 24px;
  height: 2px;
  background: black;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hamburger-menu-button-open::before, 
.hamburger-menu-button-open::after {
  left: 0;
  content: "";
}
.hamburger-menu-button-open::before {
  top: 6px;
}
.hamburger-menu-button-open::after {
  bottom: 6px;
}
.hamburger-menu-button-close {
  background: transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.hamburger-menu-button-close::before {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}
.hamburger-menu-button-close::after {
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
}
.ham-menu {
  position: absolute;
  top: 42px;
  left: 48px;
  margin: auto;
  max-width: 570px;
  overflow: hidden;
}
.ham-menu ul {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  background-color: #3896d3;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.ham-menu.on ul {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
/* .ham-menu ul {
  font-size: 0;
} */
/* .ham-menu ul li {
  display: inline-block;
} */
/* .ham-menu ul li:first-child .ham-menu ul li a {
  padding-left: 30px;
} */
.ham-menu ul li a {
  padding: 15px;
  display: block;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 13px;
}
/* .ham-menu ul li.active a, .ham-menu ul li a:hover {
  background-color: #2980b9;
  color: #fff !important;
}  */


.fixed-modal-footer{
  padding:24px;
  background-color: #F5F5F5;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.main-root {
  margin-top: 60px;
  padding: 20px 0px;
  background: #F9FAFB;
  height: 100%;
}
.main-root>div.d-flex{
  padding: 24px;
  background: #F9FAFB;
}
}
